﻿
.FormHiddenField {
    visibility: hidden !important;
}
.FormFieldNonDisplay {
    display: none !important;
}
.form_fields_container {
    margin: 0 !important;
}
.divNotify, .form_message_ok, .form_message_ko {
    display: none;
    font-size: 20px;
    margin: 20px 0 40px;
    text-align: center;
}
.form_message_ko {
    color: #f04848;
    font-weight: bold;
}
form input.error + button, form input.error, form textarea.error, form select.error {
    background-color: #f04848;
    border-color: #f04848;
    color: #ffffff;
}
form label.error {
    border-bottom: 2px dotted #f2cc07;
    color: #f04848;
}
form div.error {
    color: #f04848;
}
.form_fields_container textarea {
    height: 100px;
    width: 100%;
}
#contLoading img {
    display: block;
    margin: 0 auto 20px;
    width: 100px;
}
.pull-right.info {
    cursor: pointer;
    position: relative;
}
.pull-right.info div {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #e5dbd7;
    display: none;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 20px;
    width: auto;
    z-index: 1000;
    min-width: 250px;
}
.pull-right.info:hover div {
    display: block;
}
.checkbox .pull-right.info {
    margin-right: 50%;
}
.checkbox .pull-right.info div {
    right: 50%;
    width: 25%;
}
.form_message_ok th, .form_message_ok td {
    text-align: left;
}
.form_message_ok tr > th:nth-child(n+3), .form_message_ok tr > td:nth-child(n+3) {
    text-align: center;
}
