﻿body {font-family:'Roboto'; font-size:15px; font-weight:300; color:#636466; overflow-y: scroll !important;}

.home #page-content {width: 100%; padding: 0;}

.banner h1, h2 {
font-size:60px; font-weight:100; margin-bottom:5px; margin-top:10px; }
h1 { font-size:40px; text-transform:uppercase}
h1, h2 { font-weight:100; }
h3 {font-size:20px; margin:0; padding:0;
}
section {padding:50px 0;
}
section.no-pad { padding:0;}
ul {list-style:none;
    margin: 0;
    padding: 0;
}
a {display:inline-block; font-weight:300; color:#B32024;
}
a:hover {text-decoration:none; opacity:.6
}

.websolute { display:inline-block; background:url(../images/webagency.png) no-repeat center left; padding-left:20px;
}

/*Bootstrap override*/
.navbar-brand { height:auto; padding:0; }
.navbar-nav > li > a {
    padding:60px 15px 0; 
    font-weight:bold; font-size:14px; text-transform:uppercase;
}
.navbar-nav > li > ul { display: none; position: absolute; list-style: none; margin: 0; padding: 0; background: #FFF; border: 1px solid #E6E9ED; border-bottom-width: 2px; border-bottom-color: transparent; border-radius: 3px !important; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); z-index: 1; border-top: none; border-top-left-radius: 0; border-bottom-left-radius: 0; }
.navbar-nav > li:hover { z-index: 11; }
.navbar-nav > li:hover > ul { z-index: 10; display: block; }
.navbar-nav > li > ul > li { background: none; border: none; border-top: 1px solid #E6E9ED; display: block; width: 150px; }
.navbar-nav > li > ul > li > a { display: block; line-height: 18px; padding: 13px 20px; color: #73879C !important; text-transform: uppercase; white-space: normal; font-size: 13px; border: none; border-radius: 0; }

.navbar-default .navbar-nav>li.active>a, .navbar-default .navbar-nav>li.active>a:hover, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .current_page_parent>a, .current_page_item>a, .current-page-ancestor>a  {
  color: #B32024 !important;
  background: none; opacity:1;
}
.form-group { margin-top:25px; margin-bottom:0; }
.form-control {border-radius:0; background:#E6E4E4; border:0; height:auto; padding:5px 10px;
			   -webkit-box-shadow:none; box-shadow:none;
}
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn {padding:5px 10px;
}
button:focus, .btn:focus { outline:none!important; }

.btnCTA {
    background:#bc5355; 
    border-radius:30px; 
    font-size:16px; 
    color:#FFF; 
    padding:10px 40px; 
    text-transform:uppercase;
    border: none;
    margin: 20px 0px 20px 0px;
}
.btnCTA:hover { text-decoration:none; opacity:.6 }

label { font-weight:500}

/*SLICK*/
.slick-prev, .slick-next {display:none!important;
}
.slick-dots li button:before {content:''
}
.slick-dots li button { background:#FFF; border:1px solid #636466; border-radius:50%; width:10px; height:10px;
}
.slick-dots li.slick-active button { background:#636466;
}


/*GENERAL*/
.w75p {width:75%;
}
.strongy { font-weight:500}
.abstract {font-size:20px; margin:25px 0 40px; line-height:36px;
}
.abstract_big {font-size:28px; font-weight:100
}
a.navbar-brand:hover { opacity:1}

button.btn, a.cta {
    background:#bc5355; border-radius:30px; font-size:16px; color:#FFF; padding:10px 40px; text-transform:uppercase;
    }
.wrapper {max-width:1600px; margin:15px auto;
}

img.fullimg {width:100%;
}
.banner {background:url(../images/bg-banner.jpg) no-repeat center center; background-size:cover;
          height:290px; text-align:center; padding-top:90px;
}
.breadcrumb { border-bottom:1px solid #E5DBD7; padding:15px 0; font-size:12px; background:none; border-radius:0; font-weight:500
}
.breadcrumb a { color:#636466; display:inline-block;
}
.breadcrumb i { padding:0 7px; display:inline-block
}

.footer {
   color:#B32024; background:#F6F6F6;
}
    .footer .container {border-bottom:1px solid #E6E4E4;
                         padding:40px 0; 
    }
.footer form.newsletter label {text-transform:uppercase; padding:2px 35px 0;  background:url(../images/mail.png) no-repeat center left;
}
    .footer .form-control {width:250px;
    }
.footer .btn { border:0; background:transparent; font-weight:bold;
}
.social a {display:inline-block; background:#B32024; color:#FFF; text-align:center; width:30px; height:30px; line-height:33px; margin:0 5px; border-radius:50%;
}
.footer li {display:inline-block;  margin:2px 0;
}
    .footer li:after { content:'|'; font-size:12px; padding:0 5px 0 10px; line-height:32px;
    }
.footer ul > li:first-child {padding-left:0;
}
.footer ul > li:last-child:after {content:' '; padding:0;
}
#acceptcookie, #cookie-law-info-bar {text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px;
  font-size: 16px;
  font-weight: 300;
  background: #E6E4E4;
}

#cookie_action_close_header, #cookie_action_close_header:hover{color: #636466; border: 1px solid #c0c0c0; text-shadow:none; font-weight: 300; font-size: 16px;}

.boxes {
    margin:40px auto 50px;
}
.boxes .box {
    background:#FFF; padding:21px 30px 26px; text-align:left; font-size:15px; position:relative;
}
.boxes .box ul{ min-height:195px; margin:30px 0;  max-height: 215px;
}
    .boxes .box li a {color:#636466; padding:4px 0 8px;display:block;
    }
.boxes .box h3 { color:#B32024; display:block; padding-bottom:15px; border-bottom:1px solid #B32024;
}
.city_list {
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 20px;
  font-size: 13px;
}
.city_list strong { display:block}
.city_list span {
  display: block;
  height: 0;
  width: 0;
  overflow: hidden;
}

.bg-gray {
background:url(../images/bg-gray.jpg) no-repeat center center; background-size:cover;
}
.bg-red {
background:url(../images/bg-red.jpg) no-repeat center center; background-size:cover; color:#FFF;
}
.bg-red2 {
background:url(../images/bg-red2.jpg) no-repeat center center; background-size:cover; color:#FFF;
}

.bg-col-light-gray {background:#F8F5F3;
}

.light-gray {color:#E6E4E4;
}
.gray, .gray a { color:#636466;
}

 /*SECTION*/

section.img h2, section.bg h2, section.form h2, .frm_section_heading h2 {font-size:40px; margin-top:0;
}
section.form h2, .frm_section_heading h2 { text-align:center; padding-bottom:20px; text-transform:uppercase;}
section.img p, section.bg p  {margin:30px 0;
}
section.img a, section.bg a {font-weight:bold;
}
section.bg {background-size:cover; background-position-y:center; background-repeat:no-repeat;
}
section.bg.bg-right {background-position-x:right;}
section.bg.bg-left {background-position-x:left; text-align:right}
section.img img { border-radius:50%; border:4px solid #E6E4E4; width:95%; margin:0 auto; display:block;
}
img.img-circle { border:4px solid #E6E4E4;}
section.img .col-md-5 { padding-left:25px;}
section.img .col-md-5.col-md-offset-2 { padding-left:0; padding-right:25px; }

section.form .form-control {padding:10px }

/*SLIDER*/
#slider .item {
    height:500px; 
    text-align:center;
    background-size:cover; background-position:center center;
}
#slider .item h2 {padding:210px 0 20px; font-size:80px; font-weight:300}

/* Lista aree */
ul#arealist {
   display:block;
}
    ul#arealist::after {
        display:table-cell;
        content:' ';
        clear:both;
    }
ul#arealist li { 
    display:inline-block; width:25%; float:left;
    height:320px; 
    background-size:cover; background-position:center center; 
    text-align:center; 
    cursor:pointer;
	position:relative;
}
ul#arealist li:before {
  background: #CCC;
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: .55;
}
ul#arealist li:hover { 
    opacity:1;
}
	 
    ul#arealist li:hover:before, ul#arealist li a { display:none;
    }
    ul#arealist li:hover a { display:inline-block;
    }
ul#arealist li p { 
    color:#FFF; text-transform:uppercase; font-size:44px; font-weight:100; 
    padding:120px 0 9px; border-bottom:1px solid #fff; margin-bottom:25px; display:inline-block;
	letter-spacing: 5px;
}

/*FAMILY BOX*/
.fam-box-cont {
}
.fam-box { padding:30px 0; height:360px;
}
    .fam-box h2 {font-size:44px; margin-top:25px; margin-bottom:0; font-weight:300; letter-spacing:10px;
    }
    .fam-box p {margin-bottom:35px;
    }
    .fam-box .cta {
        background:transparent; border:1px solid #FFF; color:#FFF;
    }
    .fam-box .cta:hover { background:#bc5355; border-color:#bc5355; opacity:1
    }

.testimonial h2 { 
    margin-bottom:60px;
    text-transform: uppercase;
}
.testimonial p {
    font-size: 15px; text-align:left;
}
.testimonial .divider {
    border-top:1px solid #B32024; width:10%; margin:20px 0;
}
.testimonial img {
    border: 3px solid #E6E4E4;
    border-radius: 50%;
    float: left;
    display: block;
    max-width: 100%; 
}
.testimonial p.family {color:#B32024
}
    .testimonial p.family strong {display:block;
    }

.parallax {
    background-repeat:no-repeat; background-size:cover;
    background-position:50% 100%; height:450px;
}

.areas h2 {
    text-transform: uppercase;
}

.map {
    padding: 20px 0px 20px 0px;
    height: 400px;
}

li.contenuto {
  padding-left: 20px;
}
li.childCategory {
    padding-left: 20px;
}

.message_ok { text-align: center !important;font-size: 20px;}

/*FAI DA TE*/
#le_tue_ricerche th, .form_message_ok th { 
	color:#B32024; border-bottom:1px solid #B32024;
}
#le_tue_ricerche tr:nth-child(2n+1), .form_message_ok tr:nth-child(2n+1) { background-color:#E6E4E4;}
#le_tue_ricerche tr:nth-child(n+2):hover, .form_message_ok tr:nth-child(n+2):hover { cursor:pointer; background-color:#E5DBD7}

/*CORSI*/

.corsi li.active a, .corsi a:hover { color:#87C2C7; border-color:#87C2C7; opacity:1; text-decoration:none}
.corsi ul li { height:40px; border-bottom:1px solid #E4E3E3; display: table; width:100%}
.corsi ul li a { vertical-align: bottom;  display:table-cell; color:#636466; }
.corsi .col-sm-8 a { color:#87C2C7; text-decoration:underline;}
.corsi h1 { margin-bottom:30px}
.corsi #logo { float: left;margin-top: 13px;
  height: 90px;    margin-bottom: 30px;margin-right:20px;
    position: relative;}
/*ANNUNCI*/
.annunci ul li { height:40px; border-bottom:1px solid #E4E3E3; display: table; width:100%}
.annunci ul li a { vertical-align: bottom;  display:table-cell; }
.annunci h1 { margin-bottom:30px}
.annunci fieldset { padding:5px; border:1px solid #636466}

/*DETAILS OF RESULT*/
.form_view section { padding: 4px 0; }
.form_view .form-group { line-height: 22px; margin-top: 0; }
.form_view .flabel {  }
.form_view .fvalue { font-weight: bold; }
.form_view .i { font-style: italic; text-align: justify; }
.form_view .ffooter { font-size: 11px; }

.corsi .cta { background-color: #87C2C7; text-decoration: none !important; color: #fff !important;}


/*RESPONSIVE*/

@media (max-width: 991px) {
    ul#arealist li {width:50%; 
    }
		/*ul#arealist li::before { display:none}*/
    .fam-box-cont {padding:30px 15px;
    }
    ul#arealist li a { display:inline-block;
    }
    .w75p { width:100%;
    }
	.testimonial .col-md-5 { margin-bottom:20px;}
}
@media (max-width: 767px) {
	.wrapper { margin:0;}
	.navbar { margin-bottom:0}
	.navbar-nav > li:hover > ul { z-index: 10; display: none; }
    .nav.navbar-nav.pull-right {float:none!important; margin:0;
    }
    .navbar-nav > li > a {padding:10px ; text-align:center;
    }
    .navbar-brand > img { width: 200px; margin: 10px;
    }

    h2 { font-size:40px
    }
    .abstract { font-size:16px; line-height:25px;
    }
        .w75p .col-sm-4 { margin:5px 0;
        }
    .footer {padding:0 15px;
    }
    .newsletter label {display:block
    }
    .newsletter .form-group, .newsletter .form-control {display:inline-block
    }

    .breadcrumb { padding: 20px 10px;
    }
    .banner h1 { font-size:40px;
    }
    section.img h2, section.bg h2 {font-size:30px;
    }
    section.bg {padding:0;
    }
    section.bg .container { background-color:rgba(255, 255, 255, 0.6); padding:40px 15px; text-align:center!important;
    }

    #slider .item {
        height:280px; 
    }
    #slider .item h2 {padding:105px 0 10px; font-size:60px;}

	.footer { font-size:10px;}
		.footer li:after { padding:0 2px 0 5px;}
}
@media (max-width: 480px) {
	#slider .item h2 {padding:105px 0 10px; font-size:40px;}

     ul#arealist li {width:100%;
    }
    .col-xs-6 { width:100%; padding:0; margin:5px 0;
    }
    .fam-box h2 {font-size:40px; letter-spacing:5px;
    }
    .fam-box p {margin:10px 0;
    }
    .fam-box .text-right {text-align:center
    }
    .footer .social {float:none!important; display:block; text-align:center
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width:991px) {
	.navbar-brand > img { width: 200px; }
	.navbar-nav > li > a { padding: 42px 5px 0; font-size: 11px; }
}
	/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width:1199px) {
	.navbar-nav > li > a { padding-left: 10px; padding-right: 10px; font-size: 13px; }
	ul#arealist li p { font-size: 35px; }
	.boxes .box li a { padding: 4px 0 4px; line-height: 20px; }
	.boxes .box { padding: 21px 15px 26px; }
}
	@media (min-width: 1200px) {
		#slider .item { height:585px}
	}
/*LAYOUT BUILDER*/
.LayoutBuilder section > div.fluid { padding:0 15px;}
.image.hover_text { position:relative;}
.LayoutBuilder .image img.img-responsive { margin:0 auto;}
.image.hover_text .text { padding:20px;}
.image.hover_text:hover .text { display:block}


/*e-commerce*/
ul.summary-list li { font-size:14px;}
ul.summary-list li div { display:inline-block; width:50%; padding: 0 10px;}
ul.summary-list li .field-name { font-weight:bold; text-align:right;}
ul.summary-list li .field-value { font-style: italic; text-align:left;}

section.cart { background:#E5DBD7; font-size:14px; margin:20px 0; padding:15px; text-align:left; }
section.cart .cart-header { font-weight:bold;}

section.payment { background:#E5DBD7;  padding:15px;text-align:left; }
section.payment li{ min-height:50px;}
section.payment p { font-size:14px;}

.search_result_head {font:16px;padding-bottom:15px}

@media all and (max-width: 365px) and (min-width: 200px) {
.test {font:11px Arial;}
.test td , .test th {padding:5px;}
}
@media all and (min-width: 366px) {
.test {font:13px Arial;}
.test td , .test th {padding:6px;}
}





.wsp-pages-list > li > ul { padding-left: 20px;}
.wsp-pages-list > li > ul > li > ul { padding-left: 30px;}


#frm_field_393_container, .frm_error{ display: none;}
#frm_field_508_container { padding-top:60px;}
.frm_radio { margin-right: 25px;}